
# Security, Never upload this

.env
.env.*
!.env.example
*.env

# Tokens, credencials, keys.
*token*
*secret*
*credentials*

# local bot data
data/
*.json
!requirements.txt

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/

# Tools
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# MacOs things
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and backups

*.log
logs/
*.bak
*.backup
*.old
